<!DOCTYPE html>
<!--


       444444444       000000000      333333333333333
      4::::::::4     00:::::::::00   3:::::::::::::::33
     4:::::::::4   00:::::::::::::00 3::::::33333::::::3
    4::::44::::4  0:::::::000:::::::03333333     3:::::3
   4::::4 4::::4  0::::::0   0::::::0            3:::::3
  4::::4  4::::4  0:::::0     0:::::0            3:::::3
 4::::4   4::::4  0:::::0     0:::::0    33333333:::::3
4::::444444::::4440:::::0 000 0:::::0    3:::::::::::3
4::::::::::::::::40:::::0 000 0:::::0    33333333:::::3
4444444444:::::4440:::::0     0:::::0            3:::::3
          4::::4  0:::::0     0:::::0            3:::::3
          4::::4  0::::::0   0::::::0            3:::::3
          4::::4  0:::::::000:::::::03333333     3:::::3
        44::::::44 00:::::::::::::00 3::::::33333::::::3
        4::::::::4   00:::::::::00   3:::::::::::::::33
        4444444444     000000000      333333333333333



  This is the default "403: Forbidden" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/403.js`

  You can trigger this response from one of your controllers or policies with:
  `return res.forbidden( msg );`
  (where `msg` is an optional error message to include in the response)




-->
<html>

<head>
    <title>403 - forbidden</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body {
            font-family: 'Love Ya Like A Sister', cursive;
        }
        
        body {
            background: #eaeaea;
        }
        
        .wrap {
            margin: 0 auto;
            width: 1000px;
        }
        
        .logo {
            text-align: center;
            margin-top: 200px;
        }
        
        .logo img {
            width: 350px;
        }
        
        .logo p {
            color: #272727;
            font-size: 40px;
            margin-top: 1px;
        }
        
        .logo p span {
            color: lightgreen;
        }
        
        .sub a {
            color: #fff;
            background: #272727;
            text-decoration: none;
            padding: 10px 20px;
            font-size: 13px;
            font-family: arial, serif;
            font-weight: bold;
            -webkit-border-radius: .5em;
            -moz-border-radius: .5em;
            -border-radius: .5em;
        }
    </style>
</head>


<body>
    <div class="wrap">
        <div class="logo">
            <p>403 - forbidden</p>
        </div>
    </div>

</body>

</html>