<!DOCTYPE html>
<!--


555555555555555555      000000000          000000000
5::::::::::::::::5    00:::::::::00      00:::::::::00
5::::::::::::::::5  00:::::::::::::00  00:::::::::::::00
5:::::555555555555 0:::::::000:::::::00:::::::000:::::::0
5:::::5            0::::::0   0::::::00::::::0   0::::::0
5:::::5            0:::::0     0:::::00:::::0     0:::::0
5:::::5555555555   0:::::0     0:::::00:::::0     0:::::0
5:::::::::::::::5  0:::::0 000 0:::::00:::::0 000 0:::::0
555555555555:::::5 0:::::0 000 0:::::00:::::0 000 0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
5555555     5:::::50::::::0   0::::::00::::::0   0::::::0
5::::::55555::::::50:::::::000:::::::00:::::::000:::::::0
 55:::::::::::::55  00:::::::::::::00  00:::::::::::::00
   55:::::::::55      00:::::::::00      00:::::::::00
     555555555          000000000          000000000



  This is the default "500: Server Error" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/500.js`

  Sails considers a request in a "500: Server Error" state when
  your app throws a catchable error (not inside of an asynchronous callback).

  You can also trigger this response from one of your controllers or policies with:
  `return res.serverError( e );`
  (where `e` is an optional message, error, or array of errors to include in the response)

-->
<html>

<head>
    <title>500 - serveur error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body {
            font-family: 'Love Ya Like A Sister', cursive;
        }
        
        body {
            background: #eaeaea;
        }
        
        .wrap {
            margin: 0 auto;
            width: 1000px;
        }
        
        .logo {
            text-align: center;
            margin-top: 200px;
        }
        
        .logo img {
            width: 350px;
        }
        
        .logo p {
            color: #272727;
            font-size: 40px;
            margin-top: 1px;
        }
        
        .logo p span {
            color: lightgreen;
        }
        
        .sub a {
            color: #fff;
            background: #272727;
            text-decoration: none;
            padding: 10px 20px;
            font-size: 13px;
            font-family: arial, serif;
            font-weight: bold;
            -webkit-border-radius: .5em;
            -moz-border-radius: .5em;
            -border-radius: .5em;
        }
    </style>
</head>


<body>
    <div class="wrap">
        <div class="logo">
            <p>500 - serveur error</p>
        </div>
    </div>

</body>

</html>